<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gyh.forestry.mapper.ModelMapper">
    <resultMap id="BaseResultMap" type="org.gyh.forestry.domain.Model">
        <!--@mbg.generated-->
        <!--@Table model-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="enable" jdbcType="BOOLEAN" property="enable"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        "name",
        "enable",
        "path",
        creator,
        created_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from model
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByEnable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from model
        where "enable" = true
        limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from model
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.gyh.forestry.domain.Model">
        <!--@mbg.generated-->
        insert into model (id, "name", "enable",
                           "path", creator, created_time)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=BOOLEAN},
                #{path,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="org.gyh.forestry.domain.Model" useGeneratedKeys="true" keyProperty="id">
        <!--@mbg.generated-->
        insert into model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                "name",
            </if>
            <if test="enable != null">
                "enable",
            </if>
            <if test="path != null">
                "path",
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BOOLEAN},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.gyh.forestry.domain.Model">
        <!--@mbg.generated-->
        update model
        <set>
            <if test="name != null">
                "name" = #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                "enable" = #{enable,jdbcType=BOOLEAN},
            </if>
            <if test="path != null">
                "path" = #{path,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.gyh.forestry.domain.Model">
        <!--@mbg.generated-->
        update model
        set "name"       = #{name,jdbcType=VARCHAR},
            "enable"     = #{enable,jdbcType=BOOLEAN},
            "path"       = #{path,jdbcType=VARCHAR},
            creator      = #{creator,jdbcType=VARCHAR},
            created_time = #{createdTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByPage" resultType="org.gyh.forestry.dto.resp.ModelResp">
        select
        <include refid="Base_Column_List"/>
        from model
        <where>
            <if test="name != null">
                "name" like concat('%', #{name}, '%')
            </if>
            <if test="createdTime != null">
                and created_time &gt;= #{createdTime}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
        </where>
        order by created_time desc
    </select>
</mapper>
