<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gyh.forestry.mapper.NotificationsMapper">
    <resultMap id="BaseResultMap" type="org.gyh.forestry.domain.Notifications">
        <!--@mbg.generated-->
        <!--@Table notifications-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        title,
        content,
        created_at,
        send_time,
        creator
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from notifications
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from notifications
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.gyh.forestry.domain.Notifications">
        <!--@mbg.generated-->
        insert into notifications (id, title, content,
                                   created_at, send_time, creator)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
                #{createdAt,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.gyh.forestry.domain.Notifications">
        <!--@mbg.generated-->
        insert into notifications
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.gyh.forestry.domain.Notifications">
        <!--@mbg.generated-->
        update notifications
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.gyh.forestry.domain.Notifications">
        <!--@mbg.generated-->
        update notifications
        set title      = #{title,jdbcType=VARCHAR},
            content    = #{content,jdbcType=VARCHAR},
            created_at = #{createdAt,jdbcType=TIMESTAMP},
            send_time  = #{sendTime,jdbcType=TIMESTAMP},
            creator    = #{creator,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getAllNotifications" resultType="org.gyh.forestry.domain.Notifications">
        SELECT *
        FROM notifications
    </select>
</mapper>
