<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gyh.forestry.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.gyh.forestry.domain.User">
        <!--@mbg.generated-->
        <!--@Table "user"-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="enable" jdbcType="BOOLEAN" property="enable"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        password,
        create_time,
        "enable"
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from "user"
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findUserByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "user"
        where username = #{username}
    </select>
    <select id="findRolesByUserId" resultType="org.gyh.forestry.domain.Role">
        select role.* from role left join user_role ur on role.id = ur.role_id where user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from "user"
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.gyh.forestry.domain.User" useGeneratedKeys="true" keyProperty="id">
        <!--@mbg.generated-->
        insert into "user" (id, username, password,
                            create_time, "enable")
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{enable,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertUserRole">
        insert into user_role (user_id, role_id) values (#{userId}, #{roleId})
    </insert>
    <insert id="insertSelective" parameterType="org.gyh.forestry.domain.User" useGeneratedKeys="true" keyProperty="id">
        <!--@mbg.generated-->
        insert into "user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="enable != null">
                "enable",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.gyh.forestry.domain.User">
        <!--@mbg.generated-->
        update "user"
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                "enable" = #{enable,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.gyh.forestry.domain.User">
        <!--@mbg.generated-->
        update "user"
        set username    = #{username,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            "enable"    = #{enable,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "user"
    </select>

    <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "user"
        order by create_time desc
        limit #{page} offset #{pageSize}
    </select>

    <select id="countByPage" resultType="java.lang.Long">
        select count(1) from "user"
    </select>
</mapper>
